header {
  box-shadow: $box-shadow;
  background: #fff;
  position: relative;
  padding: .5rem 2.5rem;

  .container-header {
    padding: 1rem;
  }

  .menu-bar {
    color: $text-grey;
    cursor: pointer;
    font-size: 20px;
    transition: 2s linear;
  }

  .logo {
    width: 340px;
    height: 70px;

    img {
      width: 100%;
    }
  }

  .nav{
    gap: 1rem;
  }

  .nav a {
    margin-left: 3px;
    border-radius: 50px;
    color: $text-grey;
    padding: 5px 15px;
    text-transform: uppercase;
    line-height: 19px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: $text-green;
      box-shadow: $box-shadow;
      color: #fff;
    }
  }

  .nav .active {
    background: $text-green;
    box-shadow: $box-shadow;
    color: #fff;
  }
}

@media (max-width: 998px) {
  header {
    .logo {
      width: 300px;
      height: 70px;
    }

    .nav {
      gap: 0;
    }
  }
}

@media (max-width: 768px) {
  header {
    .container-header {
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 576px) {
  header {
    .container-header {
      flex-direction: row;
      padding: .5rem;

      .menu-bar {
        position: absolute;
        display: inline-block !important;
        left: 1rem;

        .fa-times {
          transform: rotate(180deg);
        }
      }
    }

    .logo {
      display: inline-block;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      justify-self: start;
    }

    .nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      z-index: 999;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      .active {
        background: #fff;
        color: $text-grey;
        box-shadow: none;
      }

      a {
        display: block;
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
      }

      .profile {
        margin-bottom: 100%;
      }
    }
  }
}
