.question .question-bg {
  background-image: url("https://scontent.fhan3-5.fna.fbcdn.net/v/t1.15752-9/275518307_502775374592089_3464197793040007247_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=tDyNkMVzsS8AX81eCdE&_nc_ht=scontent.fhan3-5.fna&oh=03_AVIryb7YJ4tevWyqBxzly6BMPX7Ni5sh65WY9LuN0IjZYg&oe=62603457");
  position: relative;
  background-size: cover;

  .lap-left {
    position: absolute;
    top: -10rem;
    left: -8rem;
    width: 478px;
    height: 478px;
    transform: rotate(17.12deg);

    img {
      width: 100%;
    }
  }
}

.question .question-bg .title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  padding: 4rem 0;
  display: none;
  font-weight: 600;
}

.question .lists {
  width: 100%;
}

.question .list-left {
  width: 50%;
  margin-bottom: 10rem;
  color: #fff;
  flex-direction: column;

  .title-second {
    font-size: 4rem;
    font-weight: 700;
    display: block;
  }

  .comment {
    font-size: 1rem;
    padding: .5rem;
    gap: 1rem;
  }

  i {
    font-size: 1.5rem;
  }

  .comment p {
    margin: 0;
    font-size: 1rem;
  }
}

.question .list-right {
  width: 50%;
  height: 800px;

  img {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .question .question-bg .lap-left {
    width: 378px;
    height: 378px;
    top: -8rem;
    left: -6rem;
  }
}

@media (max-width: 992px) {
  .question .question-bg .lap-left {
    width: 328px;
    height: 328px;
    top: -9rem;
    left: -5rem;
  }

  .question .list-left {
    margin-bottom: 3rem;

    .title-second {
      font-size: 2.5rem;
    }
  
    .comment {
      font-size: .7rem;
    }
  
    i {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }
  }

  .question .list-right {
    width: 600px;
    height: 600px;
  
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .question .question-bg .lap-left {
    width: 258px;
    height: 258px;
    top: -7rem;
    left: -4rem;
  }

  .question .question-bg .title {
    display: block;
    font-size: calc(1vw + 2.5rem);
    padding: 0;
    margin-left: 2rem;
  }

  .question .list-left {
    margin: 0;
    justify-content: center !important;

    .title-second {
      display: none;
    }

    .comment {
      font-size: calc(.7vw + .3rem);
      padding: .2rem;
    }
  }

  .question .list-right {
      width: 350px;
      height: 259px;
  }
}

@media (max-width: 576px) {
  .question .question-bg .lap-left {
    width: 238px;
    height: 238px;
    top: -5rem;
    left: -3rem;
  }

  .question .question-bg .title {
    margin-left: auto;
    width: 250px;
  }

  .question .lists {
    flex-direction: column;
    align-items: center;
  }
  .question .list-left {
    width: 100%;

    .comment {
      font-size: calc(1vw + .5rem);
    }
  }
}
