@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 0.3rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #505353;
  border-radius: 4rem;
}

header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
  padding: 0.5rem 2.5rem;
}
header .container-header {
  padding: 1rem;
}
header .menu-bar {
  color: #505353;
  cursor: pointer;
  font-size: 20px;
  transition: 2s linear;
}
header .logo {
  width: 340px;
  height: 70px;
}
header .logo img {
  width: 100%;
}
header .nav {
  gap: 1rem;
}
header .nav a {
  margin-left: 3px;
  border-radius: 50px;
  color: #505353;
  padding: 5px 15px;
  text-transform: uppercase;
  line-height: 19px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
header .nav a:hover {
  background: #B2D235;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
header .nav .active {
  background: #B2D235;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

@media (max-width: 998px) {
  header .logo {
    width: 300px;
    height: 70px;
  }
  header .nav {
    gap: 0;
  }
}
@media (max-width: 768px) {
  header .container-header {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  header .container-header {
    flex-direction: row;
    padding: 0.5rem;
  }
  header .container-header .menu-bar {
    position: absolute;
    display: inline-block !important;
    left: 1rem;
  }
  header .container-header .menu-bar .fa-times {
    transform: rotate(180deg);
  }
  header .logo {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    justify-self: start;
  }
  header .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 999;
  }
  header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .nav .active {
    background: #fff;
    color: #505353;
    box-shadow: none;
  }
  header .nav a {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
  }
  header .nav .profile {
    margin-bottom: 100%;
  }
}
.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.login-form.active {
  display: flex;
}
.login-form form {
  width: 26rem;
  background: #fff;
  position: relative;
}
.login-form form .close-login-form {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  border-radius: 999px;
  padding: 0.2rem 0.5rem;
  background: #B2D235;
}
.login-form form .close-login-form:hover {
  background: #90AB26;
  color: #111;
}
.login-form form .btn-form {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  border: 0.5px solid #B2D235;
  text-align: center;
}
.login-form form .btn-form a {
  padding-top: 0.6rem;
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.5px solid #B2D235;
  text-decoration: none;
}
.login-form form .btn-form .btn-login-link {
  background: #B2D235;
  color: #fff;
}
.login-form form .btn-form .btn-register-link {
  background: #fff;
  color: #B2D235;
}
.login-form form .login-container {
  padding: 1rem;
}
.login-form form .login-container p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 25px;
  color: #505353;
}
.login-form form .login-container input {
  width: 100%;
  padding: 0.5rem 1.4rem;
  border: 1px solid #E1E1E1;
  background: #F2F2F2;
}
.login-form form .flex {
  display: flex;
  align-items: center;
  gap: 0.5;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.login-form form .flex input {
  accent-color: #B2D235;
}
.login-form form .flex label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 2;
  color: #505353;
  margin-bottom: 0;
  font-weight: 700;
}
.login-form form .flex a {
  font-size: 1rem;
  color: #B2D235;
  margin-left: auto;
  font-weight: 700;
}
.login-form form .flex a:hover {
  -webkit-text-decoration: underline #B2D235 !important;
          text-decoration: underline #B2D235 !important;
}
.login-form form .login-btn {
  text-align: center;
  margin-top: 3rem;
}
.login-form form .login-btn a {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 22px;
  background: #B2D235;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-transform: uppercase;
}
.login-form form .login-btn a:hover {
  background: #90AB26;
  color: #111;
}
.login-form form .p-span {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DBDBDB;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 1rem;
  margin-top: 2rem;
  color: #505353;
  font-weight: 700;
  text-transform: uppercase;
}
.login-form form .p-span span {
  background: #fff;
  padding: 0 10px;
}
.login-form form .btn-cre {
  flex-direction: column;
  padding: 2.1rem 1rem;
  gap: 1rem;
  text-align: center;
}
.login-form form .btn-cre a {
  width: 100%;
  height: 3rem;
  padding-top: 0.6rem;
  text-decoration: none;
}
.login-form form .btn-cre .cre-gg {
  background: #DC4E41;
  color: #fff;
}
.login-form form .btn-cre .cre-fb {
  background: #3B5999;
  color: #fff;
}
.login-form form .btn-cre i {
  font-size: 1.2rem;
}

.register-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.register-form.active {
  display: flex;
}
.register-form form {
  width: 26rem;
  background: #fff;
  position: relative;
}
.register-form form .close-register-form {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  border-radius: 999px;
  padding: 0.2rem 0.5rem;
  background: #B2D235;
}
.register-form form .close-register-form:hover {
  background: #90AB26;
  color: #111;
}
.register-form form .btn-form {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  border: 0.5px solid #B2D235;
  text-align: center;
}
.register-form form .btn-form a {
  padding-top: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  width: 50%;
  border: 0.5px solid #B2D235;
}
.register-form form .btn-form .btn-login-link {
  background: #fff;
  color: #B2D235;
}
.register-form form .btn-form .btn-register-link {
  background: #B2D235;
  color: #fff;
}
.register-form form .register-container {
  padding: 1rem;
}
.register-form form .register-container p {
  font-size: 1rem;
  font-weight: 700;
  color: #505353;
}
.register-form form .register-container input {
  width: 100%;
  padding: 0.5rem 1.4rem;
  border: 1px solid #E1E1E1;
  background: #F2F2F2;
}
.register-form form .register-btn {
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
}
.register-form form .register-btn a {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 22px;
  background: #B2D235;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-decoration: none;
}
.register-form form .register-btn a:hover {
  background: #90AB26;
  color: #111;
}

.banner {
  position: relative;
  height: 1000px;
  background: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
}
.banner .banner-bg {
  height: 100%;
  margin-top: 5px;
  background-image: url("https://scontent.fhan5-9.fna.fbcdn.net/v/t1.15752-9/273808183_699100118119024_6518370349122794635_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=5QN0ioUHSXsAX_cKQB8&_nc_ht=scontent.fhan5-9.fna&oh=03_AVJ60zU72yRNJcWAf40Iez3bhUnTX0EqITpiVKqLsaHQIA&oe=62576452");
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner .banner-content {
  position: absolute;
  top: 30%;
  margin-left: 3.5rem;
}
.banner .content-title {
  font-size: 3.5rem;
  color: #11114E;
  margin: 0;
  font-weight: 300;
}
.banner span {
  font-size: 3.5rem;
  color: #11114E;
  font-weight: 800;
}
.banner img {
  width: 59px;
  height: 54px;
  margin-bottom: 20px;
}
.banner .content-title-second {
  font-size: 1.5rem;
  color: #505353;
}
.banner .banner-btn {
  background: #B2D235;
  color: #fff;
  border-radius: 35px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 4rem;
  font-size: 2rem;
  line-height: 37px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}
.banner .banner-btn:hover {
  background: #90AB26;
  color: #111;
}

@media (max-width: 1440px) {
  .banner {
    height: 800px;
  }
  .banner .banner-content {
    top: 20%;
  }
  .banner .content-title {
    font-size: calc(1vw + 2rem);
  }
  .banner span {
    font-size: calc(1vw + 2rem);
  }
  .banner img {
    width: 49px;
    height: 44px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .5rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + .5rem);
    padding: 0.5rem 3rem;
  }
}
@media (max-width: 1024px) {
  .banner {
    height: 600px;
  }
  .banner .banner-content {
    top: 20%;
  }
  .banner .content-title {
    font-size: calc(1vw + 1.5rem);
  }
  .banner span {
    font-size: calc(1vw + 1.5rem);
  }
  .banner img {
    width: 39px;
    height: 34px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .3rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + .3rem);
    padding: 0.2rem 3rem;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 450px;
  }
  .banner .banner-content {
    top: 15%;
    margin-left: 2rem;
  }
  .banner .content-title {
    font-size: calc(1vw + 1rem);
  }
  .banner span {
    font-size: calc(1vw + 1rem);
  }
  .banner img {
    width: 29px;
    height: 24px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .2rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + .2rem);
    padding: 0.1rem 3rem;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .banner {
    height: 700px;
  }
  .banner .banner-content {
    top: 40%;
    left: 10%;
    margin-left: 1.5rem;
  }
  .banner .content-title {
    font-size: calc(1vw + 2rem);
  }
  .banner span {
    font-size: calc(1vw + 2rem);
  }
  .banner img {
    width: 39px;
    height: 34px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .7rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + 1rem);
    padding: 1rem 5rem;
    margin-left: 1rem;
  }
}
@media (max-width: 425px) {
  .banner {
    height: 500px;
  }
  .banner .banner-content {
    top: 40%;
    left: 10%;
    margin-left: 1.5rem;
  }
  .banner .content-title {
    font-size: calc(1vw + 1.5rem);
  }
  .banner span {
    font-size: calc(1vw + 1.5rem);
  }
  .banner img {
    width: 39px;
    height: 34px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .5rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + 1rem);
    padding: 0.7rem 3rem;
    margin-left: 1rem;
  }
}
@media (max-width: 376px) {
  .banner .banner-content {
    top: 40%;
    left: 10%;
    margin-left: 1rem;
  }
  .banner .content-title {
    font-size: calc(1vw + 1.2rem);
  }
  .banner span {
    font-size: calc(1vw + 1.2rem);
  }
  .banner img {
    width: 29px;
    height: 24px;
    margin-bottom: 5px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .5rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + 1rem);
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 320px) {
  .banner {
    height: 400px;
  }
  .banner .banner-content {
    top: 40%;
    left: 10%;
    margin-left: 0.5rem;
  }
  .banner .content-title {
    font-size: calc(1vw + 1.2rem);
  }
  .banner span {
    font-size: calc(1vw + 1.2rem);
  }
  .banner img {
    width: 29px;
    height: 24px;
    margin-bottom: 5px;
  }
  .banner .content-title-second {
    font-size: calc(1vw + .5rem);
  }
  .banner .banner-btn {
    font-size: calc(1vw + .7rem);
    padding: 0.5rem 3rem;
  }
}
.heading {
  margin-top: 100px;
  font-size: 80px;
  line-height: 98px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
  color: #11114E;
}
.heading span {
  border-bottom: 0.5rem solid #B2D235;
  border-radius: 3px;
  text-transform: none;
}

.courses {
  position: relative;
  top: -5rem;
}
.courses .container-custom {
  max-width: 1500px;
  margin: 0 auto;
}
.courses .cards-container {
  gap: 20px;
}
.courses .card-items {
  max-height: 470px;
  width: 30%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.courses .card-items .card-header {
  height: 200px;
  position: relative;
  border-radius: 15px 15px 0 0;
}
.courses .card-items .card-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.courses .card-items .html-bg {
  background: #3F6185;
}
.courses .card-items .laravel-bg {
  background: #DC594C;
}
.courses .card-items .php-bg {
  background: #556598;
}
.courses .card-items .css-bg {
  background: #24ABE2;
}
.courses .card-items .rails-bg {
  background: #E14E40;
}
.courses .card-items .java-bg {
  background: #1B75BB;
}
.courses .card-items .card-body {
  padding-bottom: 2.5rem;
}
.courses .card-items .card-body .card-text {
  font-size: 1rem;
  color: #505353;
  padding: 1.5rem 0.5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  -webkit-line-clamp: 3;
  margin: 0;
}
.courses .card-items .card-body .card-title {
  font-size: 1.8rem;
  color: #B2D235;
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 0;
}
.courses .card-items .card-body .courses-btn {
  font-size: 1rem;
  border: 0.3px solid #fff;
  background: #B2D235;
  color: #fff;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  padding: 9px 26px;
  text-decoration: none;
}
.courses .card-items .card-body .courses-btn:hover {
  background: #90AB26;
  color: #111;
}
.courses .heading-second {
  margin-top: 5rem;
}
.courses .heading-second a {
  font-size: 35px;
  line-height: 49px;
  font-weight: 800;
  color: #90AB26;
  text-align: center;
}
.courses .heading-second:hover {
  color: #167216;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heading {
    font-size: calc(1vw + 2rem);
  }

  .courses .cards-container {
    gap: 1rem;
  }

  .courses .card-items .card-header {
    height: 150px;
  }
  .courses .card-items .card-header img {
    width: 130px;
    height: 60px;
  }
  .courses .card-items .card-body {
    padding-bottom: 1.5rem;
  }
  .courses .card-items .card-body .card-title {
    font-size: calc(1vw + .5rem);
  }
  .courses .card-items .card-body .card-text {
    font-size: calc(1vw + .2rem);
    padding: 1rem;
  }
  .courses .card-items .card-body .courses-btn {
    font-size: calc(1vw + .3rem);
    padding: 0.3rem 1rem;
    letter-spacing: -0.05em;
  }

  .courses .heading-second {
    font-size: calc(.5vw + 1rem);
  }
}
@media (max-width: 576px) {
  .courses {
    margin-top: 20rem;
  }
  .courses .card-items {
    width: 250px;
  }
  .courses .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .courses .card-items .card-body .courses-btn {
    padding: 0.5rem 2rem;
  }
}
.question .question-bg {
  background-image: url("https://scontent.fhan3-5.fna.fbcdn.net/v/t1.15752-9/275518307_502775374592089_3464197793040007247_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=tDyNkMVzsS8AX81eCdE&_nc_ht=scontent.fhan3-5.fna&oh=03_AVIryb7YJ4tevWyqBxzly6BMPX7Ni5sh65WY9LuN0IjZYg&oe=62603457");
  position: relative;
  background-size: cover;
}
.question .question-bg .lap-left {
  position: absolute;
  top: -10rem;
  left: -8rem;
  width: 478px;
  height: 478px;
  transform: rotate(17.12deg);
}
.question .question-bg .lap-left img {
  width: 100%;
}

.question .question-bg .title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  padding: 4rem 0;
  display: none;
  font-weight: 600;
}

.question .lists {
  width: 100%;
}

.question .list-left {
  width: 50%;
  margin-bottom: 10rem;
  color: #fff;
  flex-direction: column;
}
.question .list-left .title-second {
  font-size: 4rem;
  font-weight: 700;
  display: block;
}
.question .list-left .comment {
  font-size: 1rem;
  padding: 0.5rem;
  gap: 1rem;
}
.question .list-left i {
  font-size: 1.5rem;
}
.question .list-left .comment p {
  margin: 0;
  font-size: 1rem;
}

.question .list-right {
  width: 50%;
  height: 800px;
}
.question .list-right img {
  width: 100%;
}

@media (max-width: 1280px) {
  .question .question-bg .lap-left {
    width: 378px;
    height: 378px;
    top: -8rem;
    left: -6rem;
  }
}
@media (max-width: 992px) {
  .question .question-bg .lap-left {
    width: 328px;
    height: 328px;
    top: -9rem;
    left: -5rem;
  }

  .question .list-left {
    margin-bottom: 3rem;
  }
  .question .list-left .title-second {
    font-size: 2.5rem;
  }
  .question .list-left .comment {
    font-size: 0.7rem;
  }
  .question .list-left i {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .question .list-right {
    width: 600px;
    height: 600px;
  }
  .question .list-right img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .question .question-bg .lap-left {
    width: 258px;
    height: 258px;
    top: -7rem;
    left: -4rem;
  }

  .question .question-bg .title {
    display: block;
    font-size: calc(1vw + 2.5rem);
    padding: 0;
    margin-left: 2rem;
  }

  .question .list-left {
    margin: 0;
    justify-content: center !important;
  }
  .question .list-left .title-second {
    display: none;
  }
  .question .list-left .comment {
    font-size: calc(.7vw + .3rem);
    padding: 0.2rem;
  }

  .question .list-right {
    width: 350px;
    height: 259px;
  }
}
@media (max-width: 576px) {
  .question .question-bg .lap-left {
    width: 238px;
    height: 238px;
    top: -5rem;
    left: -3rem;
  }

  .question .question-bg .title {
    margin-left: auto;
    width: 250px;
  }

  .question .lists {
    flex-direction: column;
    align-items: center;
  }

  .question .list-left {
    width: 100%;
  }
  .question .list-left .comment {
    font-size: calc(1vw + .5rem);
  }
}
.feedback .title {
  width: 100%;
}
.feedback .title .text-center {
  width: 700px;
  font-size: 1.5rem;
  color: #505353;
}

.feedback .details-up {
  border: 0.5px solid #E2E2E2;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.feedback .details-up .line {
  background: #D9DADC;
  width: 0.5rem;
  border-radius: 35px;
}
.feedback .details-up p {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.feedback .triangle {
  width: 30px;
  height: 30px;
  -webkit-clip-path: polygon(50% 60%, 0 0, 100% 0);
          clip-path: polygon(50% 60%, 0 0, 100% 0);
  background: #F2F2F2;
  margin-left: 1.5rem;
}

.feedback .details-down {
  padding: 2rem 1rem;
}
.feedback .details-down .img-details {
  width: 60px;
  height: 60px;
}
.feedback .details-down .img-details img {
  width: 100%;
  height: 100%;
  border-radius: 999px;
}
.feedback .details-down .profile {
  flex-direction: column;
  margin-left: 2rem;
}
.feedback .details-down .profile .name {
  font-size: 1.25rem;
  color: #11114E;
  font-weight: 700;
  margin: 0;
}
.feedback .details-down .profile p {
  font-size: 1rem;
  color: #505353;
  margin: 0;
}
.feedback .details-down .profile .star {
  color: #F2C54F;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .feedback .title .text-center {
    width: 500px;
    font-size: calc(1vw + .7rem);
  }
  .feedback .details-up p {
    font-size: calc(1vw + .7rem);
  }
  .feedback .details-down .profile .name {
    font-size: calc(1vw + .7rem);
  }
  .feedback .details-down .profile p {
    font-size: calc(1vw + .5rem);
  }
  .feedback .details-down .profile .star {
    font-size: calc(1vw + .5rem);
  }
}
.banner-second {
  margin-top: 200px;
  height: 500px;
  background-image: url("https://scontent.fhan3-4.fna.fbcdn.net/v/t1.15752-9/274797781_490369615877269_7505832026830939684_n.png?stp=dst-png_s2048x2048&_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=d00MWBOU77EAX8kMjUf&_nc_ht=scontent.fhan3-4.fna&oh=03_AVJcQ_5SVOgMBKx6hFGJMJ2fxv9e2OOxq-pFYAQHQhLp6Q&oe=62501F5B");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-second .box .title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  padding: 2rem;
}
.banner-second .box .banner-second-btn {
  font-size: 1.5rem;
  background: #fff;
  color: #B2D235;
  border-radius: 35px;
  padding: 0.7rem 4rem;
  text-decoration: none;
}

@media (max-width: 992px) {
  .banner-second .box .title {
    font-size: calc(1vw + 2.5rem);
  }
  .banner-second .box .banner-second-btn {
    font-size: calc(1vw + 1rem);
    padding: 0.4rem 3rem;
  }
}
@media (max-width: 768px) {
  .banner-second .box .title {
    font-size: calc(1vw + 1.5rem);
  }
  .banner-second .box .banner-second-btn {
    font-size: calc(1vw + 1rem);
    padding: 0.2rem 2rem;
  }
}
.statistic .container-custom {
  max-width: 1500px;
  margin: 0 auto;
}

.statistic .box-down {
  padding: 0.5rem 2.5rem;
}

.statistic .box-title {
  font-size: 3.25rem;
  line-height: 74px;
  color: #505353;
  font-weight: 700;
}
.statistic .nub {
  font-size: 3.25rem;
  line-height: 74px;
  color: #B2D235;
  padding: 1.5rem 0;
}

@media (max-width: 768px) {
  .statistic .box-title {
    font-size: calc(1vw + 1.75rem);
  }
  .statistic .nub {
    font-size: calc(1vw + 1.75rem);
  }
}
@media (max-width: 576px) {
  .statistic .box-down {
    flex-direction: column;
    align-items: center;
  }
}
.ft-bg {
  background: #505353;
}

.footer-up {
  height: 300px;
  position: relative;
}
.footer-up .first {
  width: 100%;
}
.footer-up .logo {
  width: 300px;
  height: 60px;
}
.footer-up .logo img {
  width: 100%;
}
.footer-up p {
  margin-left: 3rem;
  font-size: 1rem;
  line-height: 25px;
  padding: 1rem;
  color: #fff;
}
.footer-up .second {
  width: 100%;
  gap: 2rem;
}
.footer-up .second a {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
}
.footer-up .ft-icons {
  height: 50px;
  gap: 1rem;
  top: 40%;
}
.footer-up .icon i {
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 25px;
  border-radius: 999px;
  color: #505353;
}
.footer-up .icon a {
  display: none;
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: underline !important;
}
.footer-up .i-face:hover a {
  display: block;
}
.footer-up .i-phone:hover a {
  display: block;
}
.footer-up .i-email:hover a {
  display: block;
}

.footer-down {
  background: #454545;
  color: #fff;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: -0.05em;
}

@media (max-width: 768px) {
  .ft-left .logo {
    width: 170px;
    height: 35px;
  }
  .ft-left p {
    font-size: calc(1vw + .5rem);
    margin: 0;
  }
  .ft-left a {
    font-size: calc(1vw + .5rem);
  }

  .ft-icons {
    gap: 0.5rem;
  }
  .ft-icons .icon i {
    width: 40px;
    height: 40px;
    min-width: 30px;
    min-height: 30px;
  }
  .ft-icons .icon a {
    display: none;
  }
}
@media (max-width: 576px) {
  .ft-left {
    flex-direction: column-reverse;
  }

  .ft-icons {
    position: absolute;
    justify-content: end;
    margin-top: 5rem;
  }
}
