.detail-page-bg {
  margin-top: 100px;
  padding: 1rem 3.5rem;
  background: #E9E7E7;
  gap: .5rem;
  
  a{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: $text-grey;
  }
}
