.list-course .list-course-bg{
  margin-top: 150px;

  .box-search{
    gap: 2rem;
  }

  .box-search .filter-container .btn-filter{
      background: #fff;
      color: $text-grey;
      border: 1px solid #C4C4C4;
      padding: .5rem 1rem;
      border-radius: 5px;
  }
        
  .box-search .search-container {

    form{
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
    }

    .btn-search{
      background: #fff;
      padding: .5rem 1.5rem;
    }
  }
}
